{% extends 'base.html.twig' %}
{% block body %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Mon site</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
    <div id="data-vue-app"></div>
    </body>
    </html>
{% endblock %}
